docytpe
html
  head
    link(rel='stylesheet', href='/styles/app.css', type='text/css')
    script(type='text/javascript', src="components/webcomponentsjs/webcomponents-lite.min.js")
    link(rel="import", href="elements/timeline/dar-timeline.html")
  body
    dar-timeline
